<section>
  <h1 style="text-align: center; margin-top:50px;">Order Placed Successfully</h1>
  <a href="/orders" style="margin-left:550px; margin-top:20px;" class="btn btn-primary">View Orders</a>
</section>